@font-face {
  font-family: "graphic-psyco";
  src: url(../asset/fonts/graphicpstco.ttf) !important; }

* {
  text-decoration: none;
  list-style-type: none;
  font-family: 'Titillium Web', sans-serif; }

.bgNegro {
  background-color: black !important; }

.colorFuente {
  color: white; }

@media only screen and (min-width: 1024px) {
  .espacioNav {
    padding-left: 600px !important; }
  .disFlex {
    display: flex;
    justify-content: center; }
  .navSize {
    font-size: 20px; }
  .historiaMapa {
    text-align: left;
    font-size: 25px;
    color: white; }
  .paddingTxt {
    padding-left: 20px;
    padding-right: 20px; }
  .disImg {
    padding-top: 20px; }
  .boton, .boton--enviar, .boton--restablecer {
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 20px; }
  .boton--enviar {
    width: 80px;
    height: 35px; }
  .boton--restablecer {
    width: 120px;
    height: 35px; }
  div p a {
    color: black; }
    div p a:hover {
      background-color: black;
      color: white; }
  .gridIndex {
    display: grid;
    grid-template-areas: "section";
    grid-template-columns: auto;
    grid-template-rows: auto; }
  section {
    grid-area: section;
    background-color: black; }
  .anchoVideoDsk {
    width: 49%; }
  .anchoImg {
    width: 700px;
    margin: 1px; }
  .padVid {
    padding-right: 5px; } }

@font-face {
  font-family: "graphic-psyco";
  src: url(../asset/fonts/graphicpstco.ttf) !important; }

* {
  text-decoration: none;
  list-style-type: none;
  font-family: 'Titillium Web', sans-serif; }

.bgNegro {
  background-color: black !important; }

.colorFuente {
  color: white; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .widthFooter {
    width: 50%; }
  .fontSizeXs {
    font-size: 20px; }
  .disFlexXs {
    display: flex;
    justify-content: center; }
  .paddingB {
    padding-bottom: 10px; }
  .paddingBot {
    padding-bottom: 20px; }
  .padLy {
    padding-left: 0px !important; }
  .botonMobile, .boton--enviar, .boton--restablecer {
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 20px; }
  .boton--enviar {
    width: 80px;
    height: 35px; }
  .boton--restablecer {
    width: 100px;
    height: 35px; }
  .gridIndex {
    display: grid;
    grid-template-areas: "section";
    grid-template-columns: auto;
    grid-template-rows: auto; }
  section {
    grid-area: section;
    background-color: black; }
  .anchoVideoMob {
    width: 100%; }
  .anchoImgMob {
    width: 100%;
    padding-top: 10px; } }
