@font-face {
    font-family: "graphic-psyco";
    src: url(../asset/fonts/graphicpstco.ttf)!important;
}
* {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Titillium Web', sans-serif;
}
$negro:black;
$padd:20px;
$blanco:white;
$padTxt:20px;
$fontNav:20px;
$padVid:5px;
  
.bgNegro{
    background-color:$negro!important;
}
.colorFuente {
    color:$blanco;
}

$historia: (
    izquierda: left,
    tFuente: 25px,
    fColor: $blanco,
);
@mixin flex--center {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 1024px) {
    .espacioNav{
        padding-left: 600px!important;
    }
    .disFlex{
        @include flex--center;
    }
    .navSize{
        font-size:$fontNav;
    }
    .historiaMapa{
        text-align: map-get($map: $historia, $key: izquierda );
        font-size: map-get($map: $historia, $key: tFuente );
        color: map-get($map: $historia, $key: fColor);
    }
    .paddingTxt {
        padding-left:$padTxt;
        padding-right:$padTxt;
    }
    .margHis {
        margin-left: 15px;
        margin-right: 15px;
    }
    .disImg {
        padding-top:$padTxt;
    }
    .boton {
        background-color: $blanco;
        text-align: center;
        color: $negro;
        border-radius: 20px;
    }
    .boton--enviar {
        @extend .boton;
        width: 80px;
        height: 35px;
    }
    .boton--restablecer {
        @extend .boton;
        width: 120px;
        height: 35px;
    }
    div p a{
        color:$negro;
        &:hover{
            background-color:$negro;
            color:$blanco;
        }
    }
    .gridIndex {
        display: grid;
        grid-template-areas:
        "section";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    section {
        grid-area: section;
        background-color: $negro;
    }
    .anchoVideoDsk {
        width: 49%;
    }
    .anchoImg {
        width: 700px;
        margin: 1px;
    }
    .padVid {
        padding-right: $padVid;
    }
}